.wrapper {
    width: 400px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;

    h6 {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .mark-read-all {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        color: #757575;
        cursor: pointer;
        height: 30px;
        width: 30px;
        user-select: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.content {
    max-height: 68vh;
    overflow-y: auto;
}

.item {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 10px;
    margin: 0 8px;
    margin-bottom: 8px;
    padding: 8px 36px 8px 12px;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(22, 24, 35, 0.05);
    }

    .avatar {
        border-radius: 50%;
        flex-shrink: 0;
        height: 48px;
        overflow: hidden;
        width: 48px;
    }

    .message-wrapper {
        flex: 1;
        color: #333;
        font-size: 1.4rem;
        line-height: 18px;
        padding: 0 10px 0 16px;
        word-break: break-word;
    }

    .name {
        font-weight: 600;
    }

    .created-time {
        color: var(--primary-color);
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 6px;
        display: block;
    }
}

.see-all {
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 46px;
    cursor: pointer;

    p {
        color: var(--primary-color);
        font-size: 1.4rem;
        font-weight: 500;
    }
}
