.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid #e8ebed;
    padding: 0 28px;
}

.logo {
    display: flex;
    align-items: center;

    img {
        border-radius: 8px;
        flex-shrink: 0;
        height: 38px;
        object-fit: contain;
        width: 38px;
    }

    .heading {
        color: var(--black-color);
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 16px;
    }
}
